<ion-content>
  <div class="px-5 space-y-5">
    <div class="text-center text-2xl font-bold my-10">nouveau mot de passe</div>
    <div class="text-center">rentres ton nouveau mot de passe.</div>
    <div class="">
      <form action="">
        <div class="form-field">
          <label [ngClass]="focused ? 'label-focused' : ''">mot de passe</label>
          <input
            type="password"
            (focus)="focused = true"
            (blur)="onBlur($event)"
          />
          <div class="bg-primary absolute rounded-full top-3 right-3">
            <img src="assets/icon/eye.svg" alt="" />
          </div>
        </div>
        <div class="form-field">
          <label [ngClass]="focused ? 'label-focused' : ''"
            >confirmer mot de passe</label
          >
          <input
            type="password"
            (focus)="focused = true"
            (blur)="onBlur($event)"
          />
          <div class="bg-primary absolute rounded-full top-3 right-3">
            <img src="assets/icon/eye.svg" alt="" />
          </div>
        </div>
        <div
          class="flex justify-center bg-primary rounded-md h-12 cursor-pointer"
        >
          <button class="w-full h-full text-white text-md uppercase">
            enregistrer le mot de passe
          </button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
