<ion-content>
  <div class="flex flex-col space-y-5 w-full">
    <div
      class="flex flex-col justify-center items-center space-y-2 w-full mb-2"
    >
      <app-months
        [(currentMonth)]="currentMonth"
        (onChange)="onMonthChange()"
      ></app-months>
      <app-days
        [currentMonth]="currentMonth"
        [(currentDay)]="currentDay"
        (onChange)="onDayChange()"
      ></app-days>
    </div>
    <app-plages
      [user]="user"
      [date]="date_d.date"
      [currentDay]="currentDay"
      [currentMonth]="currentMonth"
      [(selectPlage)]="date_d.plage"
    ></app-plages>
  </div>
</ion-content>
