<ion-content>
  <div class="">
    <div class="flex flex-row justify-between items-center mb-10 text-gray-600">
      <ion-button (click)="myBackButton()" fill="clear">
        <img src="assets/icon/back.svg" alt="" srcset="" />
      </ion-button>
      <h1 class="text-2xl font-bold flex text-center">moyen de paiement</h1>
      <ion-button fill="clear"></ion-button>
    </div>
    <div class="flex flex-col space-y-5 mt-10 px-5">
      <div>
        <div>Ma carte</div>
        <div
          class="h-40 rounded-lg flex flex-col text-gray-700 p-5"
          style="background-color: #ffddb8"
        >
          <div class="flex flex-row justify-between items-start">
            <div>Patrick Noukimi</div>
            <div class="flex flex-row">
              <ion-button color="warning">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
              <ion-button class="bg-primary-op ml-2 rounded-lg" fill="clear">
                <ion-icon
                  slot="icon-only"
                  name="pencil"
                  color="primary"
                ></ion-icon>
              </ion-button>
            </div>
          </div>
          <div>xxxx xxxx xxxx 1235</div>
          <div class="flex flex-row justify-between mt-5">
            <div>11/20</div>
            <div>
              <img
                class="w-10"
                src="assets/icon/carte_bancaire.svg"
                alt=""
                srcset=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center space-y-5 mt-10">
      <div class="">
        <img src="assets/icon/carte.svg" alt="" />
      </div>
      <div class="text-center">
        Vous n’avez pas encore de Carte Bancaire enregistrée.
      </div>
    </div>
    <div class="px-8 mt-10" (click)="infosBancaires()">
      <div class="bg-primary rounded-md flex justify-center">
        <ion-button fill="clear" class="text-white uppercase"
          >Ajouter ma carte</ion-button
        >
      </div>
    </div>
  </div>
</ion-content>
