<ion-content>
  <div class="px-5">
    <div class="flex flex-row items-center justify-between">
      <ion-button fill="clear" class="text-black">
        <ion-icon size="large" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <div class="text-2xl font-bold">Mes informations</div>
      <ion-button fill="clear"></ion-button>
    </div>
    <div class="">
      <div class="flex justify-center p-5">
        <img src="assets/icon/photo_profil.svg" alt="" class=" border-dashed border-2 border-primary rounded-md p-2">
      </div>
      <ion-button fill="clear" expand="block" class="bg-primary-op text-primary rounded-md">changer ma photo</ion-button>
      <form action="">

      </form>
    </div>
  </div>
</ion-content>
