<ion-content>
  <div class="px-5 my-10 space-y-12">
    <div class="flex flex-col items-center space-y-5">
      <div class="my-5">
        <img src="assets/icon/success.svg" alt="">
      </div>
      <div class="font-bold">Résevation confirmé</div>
      <div class="text-center">
        louise,vous avez Rendez-vous mardi 11 mars
        à 12 heures avec sarah pour les vanilles
      </div>
    </div>
    <ion-button fill="clear" expand="block" class="rounded-md text-white bg-primary uppercase">DECOUVREZ BIGOOSHOP</ion-button>
  </div>
</ion-content>
