<ion-content>
  <div class="px-5 my-10 space-y-12">
    <div class="flex flex-col items-center space-y-5">
      <div class="my-5">
        <img src="assets/icon/success.svg" alt="" />
      </div>
      <div class="font-bold">Résevation confirmé</div>
      <div class="text-center">
        {{user.prenom}},vous avez Rendez-vous {{date|date:'EEEE d MMMM'}} à
        {{plage}} heures avec {{uid}} pour les {{prest}}
      </div>
    </div>
    <ion-button
      fill="clear"
      expand="block"
      class="rounded-md text-white bg-primary uppercase"
      >DECOUVREZ BIGOOSHOP</ion-button
    >
  </div>
</ion-content>
