<ion-content>
  <div class="flex flex-col space-y-10 text-gray-600 px-5">
    <div class="text-2xl font-bold text-center pt-10">Créer mon Compte</div>
    <div class="space-y-3">
      <div class="font-medium">Bienvenue chez Bigoodee !</div>
      <div>
        afin de vous orientez au mieux, dites-nous ce que vous souhaitez faire.
      </div>
    </div>
    <div class="grid grid-cols-2 gap-2">
      <ion-card class="p-0 m-0 border shadow-sm rounded-lg" button="true">
        <div
          class="
            rounded-lg
            w-full
            h-full
            flex flex-col
            justify-center
            items-center
            gap-2
            px-1
            py-5
          "
        >
          <div><img src="assets/icon/coiffe.svg" alt="" srcset="" /></div>
          <div>je veux être coiffée</div>
        </div>
      </ion-card>
      <ion-card
        class="p-0 m-0 border shadow-sm rounded-lg"
        button="true"
        routerLink="/etrecoiffeuse"
      >
        <div
          class="
            rounded-lg
            w-full
            h-full
            flex flex-col
            justify-center
            items-center
            gap-2
            px-1
            py-5
          "
        >
          <div><img src="assets/icon/coiffeuse.svg" alt="" srcset="" /></div>
          <div>je veux coiffer</div>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
