<ion-content>
<div class="">
  <div
    class="flex flex-row justify-between items-center px- py-5 text-gray-600"
  >
    <ion-button (click)="myBackButton()" fill="clear">
      <img src="assets/icon/back.svg" alt="" srcset="" />
    </ion-button>
    <h1 class="text-2xl font-bold whitespace-nowrap">Mon guide Coiffeuse</h1>
    <ion-button fill="clear">
      <img src="assets/icon/Bell.svg" alt="" srcset="" />
    </ion-button>
  </div>
  <ion-card class="flex flex-row h-24 items-center space-x-5" button = true>
    <div class="bg-secondary h-full w-3"></div>
    <div class="text-xl">Comment mettre en avant ton profil ?</div>
    <div class="bg-primary rounded-full flex justify-center w-6 h-6">
      <img src="assets/icon/arrow_blanc.svg" alt="" class="p-1">
    </div>
  </ion-card>
  <ion-card class="flex flex-row h-24 items-center space-x-5">
    <div class="bg-secondary h-full w-3"></div>
    <div class="space-x-2 whitespace-nowrap flex flex-row">
      <div class="text-lg">Comment mettre en avant tonprofil ?</div>
      <div class=" rounded-full p-1">
        <img src="assets/icon/arrow_empty.svg" alt="">
      </div>
    </div>
  </ion-card>
  <ion-card class="flex flex-row h-24 items-center space-x-5">
    <div class="bg-secondary h-full w-3"></div>
    <div class="space-x-2 whitespace-nowrap flex flex-row">
      <div class="text-lg">Comment mettre en avant tonprofil ?</div>
      <div class=" rounded-full p-1">
        <img src="assets/icon/arrow_empty.svg" alt="">
      </div>
    </div>
  </ion-card>
  <ion-card class="flex flex-row h-24 items-center space-x-5">
    <div class="bg-secondary h-full w-3"></div>
    <div class="space-x-2 whitespace-nowrap flex flex-row">
      <div class="text-lg">Comment mettre en avant tonprofil ?</div>
      <div class=" rounded-full p-1">
        <img src="assets/icon/arrow_empty.svg" alt="">
      </div>
    </div>
  </ion-card>
</div>
</ion-content>
