<ion-content>
  <div class="mb-10">
    <div
      class="flex flex-row justify-between items-center px- py-5 text-gray-600"
    >
      <ion-button (click)="myBackButton()" fill="clear">
        <img src="assets/icon/back.svg" alt="" srcset="" />
      </ion-button>
      <h1 class="text-2xl font-bold whitespace-nowrap">Mon guide Coiffeuse</h1>
      <ion-button fill="clear">
        <img src="assets/icon/Bell.svg" alt="" srcset="" />
      </ion-button>
    </div>
    <div class="text-gray-600">
      <ion-card class="flex flex-row justify-between items-center h-20 pr-2">
        <div class="bg-secondary h-full w-3"></div>
        <div class="text-xl whitespace-normal pl-3 font-semibold">
          Comment mettre en avant ton profil ?
        </div>
        <div class="">
          <img src="assets/icon/toggle.svg" alt="" />
        </div>
      </ion-card>
      <div class="px-5 space-y-5">
        <div class="">Pour être plus attractive, il te faut :</div>
        <div class="flex flex-row items-start space-x-3">
          <div class="w-10">
            <img src="assets/icon/point.svg" alt="" class="w-full" />
          </div>
          <div class="">
            Fixer un tarif accessible par les clientes. Positionne-toi par
            rapport aux tarifs des autres coiffeuses. Cela va te permettre
            d’augmenter tes chances d’être choisis par une cliente.
          </div>
        </div>
        <div class="flex flex-row items-start space-x-3">
          <div class="w-10">
            <img src="assets/icon/point.svg" alt="" class="w-full" />
          </div>
          <div class="">
            Pense toujours à mettre tes disponibilités à jour sur ton profl afin
            que ton profl soit visible lorsque les clientes recherchent des
            prestations.
          </div>
        </div>
        <div class="flex flex-row items-start space-x-2">
          <div class="w-10">
            <img src="assets/icon/point.svg" alt="" class="w-full" />
          </div>
          <div class="">
            Ajoute de belles photos dans ta galerie. Les clientes pourront voir
            tes prestations déjà réalisées. Tes clientes seront plus rassurées
            et auront confance en toi !
          </div>
        </div>
        <div class="flex flex-row items-start space-x-3">
          <div class="w-3 h-3">
            <div class="w-full h-full bg-secondary rounded-lg"></div>
          </div>
          <div class="">
            Ajoute une photo de profl pour rassurer les clientes.
          </div>
        </div>
      </div>
      <ion-card class="flex flex-row justify-between items-center h-20 pr-2">
        <div class="bg-secondary h-full w-3"></div>
        <div class="text-lg whitespace-normal pl-3 font-semibold">
          Comment ajouter / supprimer tes prestations ?
        </div>
        <div class="">
          <img src="assets/icon/toggle.svg" alt="" />
        </div>
      </ion-card>
      <div class="px-5 space-y-5">
        <div class="">Pour ajouter une prestation :</div>
        <div class="flex flex-row items-start space-x-3">
          <div class="text-secondary">1</div>
          <div class="">
            Dans « mes prestations », appuie sur le bouton Ajouter une
            prestation.
          </div>
        </div>
        <div class="flex flex-row items-start space-x-3">
          <div class="text-secondary">2</div>
          <div class="">Choisis la prestation puis valide.</div>
        </div>
        <div class="flex flex-row items-start space-x-3">
          <div class="text-secondary">3</div>
          <div class="">
            Entre un tarif pour cette prestation, puis valide le.
          </div>
        </div>
        <div class="">
          Pour supprimer une prestation, c’est simple, appuie sur l’icône de la
          poubelle de suppression.
        </div>
      </div>
      <ion-card class="flex flex-row justify-between items-center h-20 pr-2">
        <div class="bg-secondary h-full w-3"></div>
        <div class="text-lg whitespace-normal pl-3 font-semibold">
          Comment ajouter tes photos dans « ma galerie » ?
        </div>
        <div class="">
          <img src="assets/icon/toggle.svg" alt="" />
        </div>
      </ion-card>
      <div class="px-5 space-y-5">
        <div class="">
          Pour ajouter, dans « ma galerie », appuie sur le bouton « Ajouter une
          image ».
        </div>
        <div class="">Choisis ta photo à ajouter, puis valide.</div>
        <div class="">
          Pour supprimer, reste appuyé longuement sur la photo et clique sur «
          supprimer ».
        </div>
        <div class="">
          <strong>NB</strong> : si tes photos ont des tags, pense à les enlever
          pour quelles puissent être validées par le service client.
        </div>
      </div>
      <ion-card class="flex flex-row justify-between items-center h-20 pr-2">
        <div class="bg-secondary h-full w-3"></div>
        <div class="text-lg whitespace-normal pl-3 font-semibold">
          Comment ajouter / supprimer tes prestations ?
        </div>
        <div class="">
          <img src="assets/icon/toggle.svg" alt="" />
        </div>
      </ion-card>
      <div class="space-y-5 px-5">
        <div>
          Bigoodee te conseille de ne pas proposer des tarifs plus élevés que
          les autres coiffeuses, pour être compétitive. Grâce à la grille
          tarifaire ci-dessous, tu vas pouvoir entrer tes tarifs sur ton profil
          en pensant à ajouter pour chacune de tes prestations, la commission
          Bigoodee.
        </div>
        <div>
          <div class="text-secondary flex flex-row items-center">
            <p class="text-primary pr-2">Tarifs à entrer</p>
            = TON TARIF + COMMISSION
          </div>
          <div class="text-secondary">Bigoodee (la 3ecolonne du tableau)</div>
        </div>
        <div class="text-secondary">TARIFICATION</div>
        <div class="">
          La tarifcation ci-dessous est à prendre en compte lorsque vous
          procéder à l’enregistrement des tarifs de vos prestations sur votre
          profl.
        </div>
        <div class="">Cette tarifcation est décrite comme suite :</div>
        <div class="text-secondary text-center">
          Tarif de ia coifeuse+15% de commission appliquer par Bigoodee
        </div>
        <div class="">
          <img src="assets/icon/tarifs.svg" alt="" />
        </div>
        <div>
          *Les tarifs que vous défnissee pour vos prestations vous sont reversés
          en intégralité.
        </div>
      </div>
    </div>
  </div>
</ion-content>
