<ion-tabs>
  <ion-tab-bar slot="bottom" class="border-t border-gray-100 shadow-sm">
    <ion-tab-button
      tab="home"
      routerLink="/coiffeuse/home"
      routerLinkActive="router-link-active"
    >
      <ion-icon src="assets/icon/Acceuil.svg"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="planning"
      routerLink="/coiffeuse/planning"
      routerLinkActive="router-link-active"
    >
      <ion-icon src="assets/icon/Planning.svg"></ion-icon>
      <ion-label>Planning</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="message"
      routerLink="/coiffeuse/message"
      routerLinkActive="router-link-active"
    >
      <ion-icon src="assets/icon/Message.svg"></ion-icon>
      <ion-label>Messages</ion-label>
    </ion-tab-button>
    <ion-tab-button
      tab="profil"
      routerLink="/coiffeuse/profil"
      routerLinkActive="router-link-active"
    >
      <ion-icon src="assets/icon/Profil.svg"></ion-icon>
      <ion-label>Mon Compte</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
