<ion-content>
  <div
    class="flex flex-row items-center mb-10 text-gray-600"
  >
    <ion-button (click)="myBackButton()" fill="clear">
      <img src="assets/icon/back.svg" alt="" srcset="" />
    </ion-button>
    <h1 class="text-2xl font-bold flex text-center">Mes coiffeuses préférées</h1>
  </div>
  <ion-item>
    <div class="flex flex-row items-center my-5">
      <div class="flex flex-row space-x-2">
        <div class="rounded-md">
          <img src="assets/icon/sarah.svg" alt="" class="w-20 h-20">
        </div>
        <div class="flex flex-col justify-between">
          <div class="">Sarah Mvomeka </div>
          <div class="flex flex-row space-x-2 items-center">
            <div class="">
              <img src="assets/icon/localisation.svg" alt="">
            </div>
            <div class="">Nantes</div>
          </div>
        </div>
      </div>
      <ion-button fill="clear" slot="end" class="bg-primary-op flex justify-center h-10 rounded-md">
        <img src="assets/icon/sms_pink.svg" alt="">
      </ion-button>
    </div>
  </ion-item>
  <div class="border-t-2 border-primary mb-5"></div>
  <div class="space-y-5">
    <ion-segment
      (ionChange)="segmentChanged($event)"
      color="danger"
      [value]="segment"
      mode="ios"
      class=""
    >
      <ion-segment-button class="py-3 rounded-l-lg" value="prestations">
        <ion-label>prestations</ion-label>
      </ion-segment-button>

      <ion-segment-button value="disponibilites">
        <ion-label>DISPONIBILITÉS</ion-label>
      </ion-segment-button>
    </ion-segment>
    <!-- <ion-list>
      <ion-item>
        <ion-label>dffd</ion-label>
        <div class="bg-primary rounded-full flex justify-center items-center pl-2">
          <ion-checkbox slot="end"></ion-checkbox>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>dffd</ion-label>
        <div class="bg-primary rounded-full flex justify-center items-center pl-2">
          <ion-checkbox slot="end"></ion-checkbox>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>dffd</ion-label>
        <div class="bg-primary rounded-full flex justify-center items-center pl-2">
          <ion-checkbox slot="end"></ion-checkbox>
        </div>
      </ion-item>
    </ion-list> -->
    <ion-card>
      <div class="" *ngFor="let item of items">
        <div class="">
          <div class="">
            <img src="assets/icon/outil.svg" alt="">
          </div>
          <div class="text-gray-600">{{item.title}}</div>
        </div>
        <div class="bg-primary rounded-full flex justify-center items-center pl-2">
          <ion-checkbox slot="end"></ion-checkbox>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>
