<ion-content>
  <div class="p-5">
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="prestations">
        <ion-label>prestations</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Disponibilités">
        <ion-label>Disponibilités</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-segment (ionChange)="segmentChanged($event)" disabled value="sunny">
      <ion-segment-button value="sunny">
        <ion-label>Sunny</ion-label>
      </ion-segment-button>
      <ion-segment-button value="rainy">
        <ion-label>Rainy</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-segment scrollable value="heart">
      <ion-segment-button value="home">
        <ion-icon name="home"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="heart">
        <ion-icon name="heart"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="pin">
        <ion-icon name="pin"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="star">
        <ion-icon name="star"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="call">
        <ion-icon name="call"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="globe">
        <ion-icon name="globe"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="basket">
        <ion-icon name="basket"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-content>
