<ion-content>
  <div class="flex flex-row items-center mt-5 mb-5 text-gray-600">
    <ion-button (click)="myBackButton()" fill="clear">
      <img src="assets/icon/back.svg" alt="" srcset="" />
    </ion-button>
    <h1 class="text-xl font-bold flex text-center">Mes coiffeuses préférées</h1>
    <ion-button fill="clear"> </ion-button>
  </div>
  <div class="p-5 space-y-2">
    <ion-card
      button="true"
      class="p-0 m-0 shadow-none border rounded-lg border-gray-300"
      *ngFor="let item of items"
      [routerLink]="'coiffeuses-preferees-details/'+ item.coiffeuse._id"
    >
      <div class="px-5 py-2 flex flex-row justify-between">
        <div class="flex felx-row">
          <img
            class="w-12 h-12 rounded-full"
            [src]="item.coiffeuse.imageURL === 'default.png'? 'assets/default.png': 'https://firebasestorage.googleapis.com/v0/b/bigoodee-79097.appspot.com/o/profile%2F'+item.coiffeuse.imageURL.split('/')[1]+'?alt=media&token=4f39ff84-15a9-4f1d-8e9a-fcc5541147bd'"
            alt=""
            srcset=""
          />
          <div class="flex flex-col justify-center ml-2 space-y-1">
            <div class="font-semibold text-gray-500">
              {{item.coiffeuse.prenom}}
            </div>
            <div class="flex flex-row space-x-1">
              <img src="assets/icon/localisation.svg" alt="" />
              <div class="text-gray-400 text-sm">{{item.coiffeuse.ville}}</div>
            </div>
          </div>
        </div>
        <ion-button
          class="bg-secondary-op rounded-md flex justify-center h-10"
          color="secondary"
          fill="clear"
          (click)="remove(item.coiffeuse._id)"
        >
          <!-- <ion-spinner class="text-secondary"></ion-spinner> -->
          <img src="assets/icon/favorite-default.svg" alt="" class="w-6" />
        </ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>
