<div class="div px-5 py-3 flex flex-col space-y-5 text-gray-600">
  <div class="flex flex-row justify-between items-center">
    <div><img src="" alt="" srcset="" /></div>
    <div class="text-lg font-semibold">notification</div>
    <div (click)="dismiss()">
      <img src="assets/icon/close.svg" alt="" srcset="" />
    </div>
  </div>

  <div class="border border-gray-200 rounded-lg py-2 px-4 text-gray-600">
    <div class="grid grid-cols-3 gap-2 pb-3">
      <div class="">
        <img
          class="w-16 h-16 rounded-lg"
          src="assets/profil.png"
          alt=""
          srcset=""
        />
      </div>
      <div class="col-span-2">
        <div class="flex justify-end">
          <div class="px-2 bg-gray-200 rounded text-gray-500 text-sm">
            en attente
          </div>
        </div>
        <div class="font-semibold">Sabine</div>
        <div class="text-gray-400 text-sm">Nattes collées</div>
      </div>
    </div>
    <hr />
    <div class="pt-3 grid grid-cols-6">
      <div class="col-span-4 flex flex-col gap-2">
        <div class="flex flex-row gap-8 items-center">
          <img src="assets/icon/time.svg" alt="" srcset="" />
          <div>18h-22h</div>
        </div>
        <div class="flex flex-row gap-8 items-center">
          <img class="" src="assets/icon/map.svg" alt="" srcset="" />
          <div>Nantes</div>
        </div>
      </div>
      <div
        class="
          col-span-2
          opacity-75
          flex
          items-center
          justify-center
          rounded-lg
          bg-primary-op
        "
      >
        <img src="assets/icon/chat.svg" alt="" srcset="" />
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-4">
    <button
      style="background-color: #fe4335"
      class="rounded-lg py-3 text-white"
    >
      REFUSER
    </button>
    <button
      style="background-color: #21a621"
      class="rounded-lg py-3 text-white"
    >
      ACCEPTER
    </button>
  </div>
</div>
