<ion-content>
  <div
      class="flex flex-row items-center mb-10 text-gray-600"
  >
      <ion-button (click)="myBackButton()" fill="clear">
        <img src="assets/icon/back.svg" alt="" srcset="" />
      </ion-button>
      <h1 class="text-2xl font-bold flex text-center">messages</h1>
  </div>
  <div class="">
    <ion-card class="border-primary border-2 shadow-none">
      <ion-card-content class="flex items-center justify-between">
        <img src="assets/icon/tof.svg" alt="" class="rounded-full">
        <div class="font-bold text-2xl">Sarah</div>
        <ion-button slot="end" fill="clear" class="uppercase bg-primary text-white rounded-md">reserver</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
