<ion-content>
  <div class="flex flex-row items-center justify-between w-full">
    <ion-button fill="clear"></ion-button>
    <div class="text-gray-600 text-2xl font-bold text-center">
      Choix de la date
    </div>
    <ion-button fill="clear" (click)="close()">
      <img src="assets/icon/close.svg" alt="" srcset="" />
    </ion-button>
  </div>
  <div>
    <div class="flex justify-between items-center px-10 pt-5 pb-8 text-2xl">
      <ion-icon name="chevron-back-outline" (click)="back()"></ion-icon
      ><span class="font-medium text-gray-500">{{ viewTitle }}</span
      ><ion-icon name="chevron-forward-outline" (click)="next()"></ion-icon>
    </div>
    <div class="ion-padding p-1">
      <calendar
        class="border-none"
        [eventSource]="eventSource"
        [locale]="calendar.locale"
        [currentDate]="calendar.currentDate"
        (onTitleChanged)="onViewTitleChanged($event)"
        (onTimeSelected)="onChange($event)"
      ></calendar>
    </div>

    <hr />

    <div class="px-5 pt-5">
      <div class="text-center font-semibold py-5 text-md text-gray-500">
        Choisis ta plage horaire
      </div>
      <div class="grid grid-cols-2 gap-4 pt-5">
        <ion-card
          button="true"
          *ngFor="let item of plages"
          class="shadow-md m-0 p-0 rounded-lg"
          (click)="getPlage(item)"
        >
          <div
            class="rounded py-3 text-center font-semibold"
            [ngClass]="item.checked ? 'text-primary bg-pink-100':'text-gray-500 bg-gray-100'"
          >
            {{item.plage}}
          </div>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
