.button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

// ion-button {
//   --background: #ffe354;
//   --border-radius: 20px;
// }
