<ion-content>
<div class="">
  <div
    class="flex flex-row justify-between items-center px- py-5 text-gray-600"
  >
    <ion-button (click)="myBackButton()" fill="clear">
      <img src="assets/icon/back.svg" alt="" srcset="" />
    </ion-button>
    <h1 class="text-2xl font-bold whitespace-nowrap">Messages</h1>
    <ion-button fill="clear">
      <img src="assets/icon/Bell.svg" alt="" srcset="" />
    </ion-button>
  </div>
  <hr class="border-primary">
  <div class="p-3">
    <div class="flex flex-row items-center space-x-2 mb-2">
      <div class="rounded-full">
        <img src="assets/icon/larissa.svg" alt="">
      </div>
      <div class="flex flex-col">
        <div class="">Larissa</div>
        <div class="flex flex-row gap-20">
          <div class="">5.0</div>
          <div class="">1jour</div>
        </div>
      </div>
    </div>
    <div class="">
      On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de 
      distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum 
      sur un texte générique comme 'Du texte. Du texte. Du texte.
    </div>
  </div>
  <hr class="border-primary">
</div>
</ion-content>
