<div
  class="relative flex flex-row justify-center items-center m-auto w-72 md:w-96"
>
  <button
    mat-icon-button
    class="
      transition
      text-pink-500
      z-10
      hover:bg-pink-50
      w-8
      h-8
      rounded-full
      flex
      justify-center
      items-center
    "
    (click)="previous()"
  >
    <-
  </button>

  <div
    #container
    class="w-full flex justify-center items-center overflow-hidden"
  >
    <div
      class="flex justify-center items-center"
      *ngFor="let item of months; let i = index"
    >
      <button
        class="text-center flex-none rounded-sm p-1 text-xs md:text-sm w-16 md:w-24 {{
          item !== '' ? 'border' : ''
        }} text-gray-500"
      >
        {{ item }}
      </button>
    </div>
  </div>

  <div
    class="absolute top-0 left-0 w-full h-full flex justify-center items-center"
  >
    <button
      class="
        text-center
        flex-none
        rounded-sm
        p-1
        text-xs
        md:text-sm
        w-16
        md:w-24
        text-white
        bg-pink-500
      "
    >
      {{ months[carousel.currentItem + 1] }}
    </button>
  </div>

  <button
    mat-icon-button
    class="
      transition
      text-pink-500
      hover:bg-pink-50
      w-8
      h-8
      rounded-full
      flex
      justify-center
      items-center
    "
    (click)="next()"
  >
    ->
  </button>
</div>
