<ion-content>
  <div class="h-full">
    <div class="h-1/3 relative text-gray-500">
      <div class="flex justify-end">
        <ion-button fill="clear" class="">
          <img src="assets/icon/Bell.svg" alt="" />
        </ion-button>
      </div>
      <div
        class="
          absolute
          w-full
          flex
          justify-center
          bottom-0
          text-center text-2xl
          font-semibold
        "
      >
        <img class="w-3/6" src="assets/Logo.png" alt="" srcset="" />
      </div>
      <div
        class="
          absolute
          w-full
          flex
          justify-center
          bottom-5
          text-center text-2xl
          font-semibold
        "
      >
        Bonjour Louise
      </div>
    </div>
    <div class="h-2/3 bg-primary rounded-t-2xl px-5 overflow-hidden">
      <div
        class="
          w-full
          flex
          justify-center
          pt-3
          text-center
          font-semibold
          text-white
        "
      >
        Decouvrez et réservez la coiffeuse qui vous correspond !
      </div>
      <div class="rounded-lg bg-white w-full h-4/5 mt-3 p-3 overflow-y-scroll">
        <div class="grid grid-cols-2 gap-4">
          <div
            class="
              py-2
              text-white
              font-semibold
              rounded-md
              text-center text-sm
              flex
              items-center
              justify-center
            "
            [ngClass]="segment? 'bg-primary': 'bg-primary-op'"
            (click)="segment = false"
          >
            Je réserve ma coiffeuse
          </div>
          <div
            class="
              py-2
              bg-primary
              text-white
              font-semibold
              rounded-md
              text-center text-sm
              flex
              items-center
              justify-center
            "
            [ngClass]="!segment? 'bg-primary': 'bg-primary-op'"
            (click)="segment = true"
          >
            Je découvre les coiffures
          </div>
        </div>
        <div class="pt-4 space-y-4" *ngIf="!segment">
          <ion-card
            button="true"
            class="rounded-lg m-0 p-0 border border-gray-300 shadow-sm"
            (click)="openVilleModal()"
          >
            <div
              class="
                flex flex-row
                justify-between
                items-center
                px-4
                py-3
                rounded-lg
              "
            >
              <div class="flex flex-row gap-4 items-center">
                <img src="assets/icon/locate.svg" alt="" />
                <div class="text-lg">
                  {{ville ==='' ? 'choix de la ville': ville| uppercase}}
                </div>
              </div>
              <div>
                <img src="assets/icon/arrowDown.svg" alt="" srcset="" />
              </div>
            </div>
          </ion-card>
          <ion-card
            button="true"
            class="rounded-lg m-0 p-0 border border-gray-300 shadow-sm"
            (click)="openPrestationModal()"
          >
            <div
              class="
                flex flex-row
                justify-between
                items-center
                px-4
                py-3
                rounded-lg
              "
            >
              <div class="flex flex-row gap-4 items-center">
                <img src="assets/icon/prestations.svg" alt="" />
                <div class="text-lg">
                  {{prestation ==='' ? 'Type de prestation': prestation|
                  uppercase}}
                </div>
              </div>
              <div>
                <img src="assets/icon/arrowDown.svg" alt="" srcset="" />
              </div>
            </div>
          </ion-card>
          <ion-card
            button="true"
            class="rounded-lg m-0 p-0 border border-gray-300 shadow-sm"
            (click)="openCalendarModal()"
          >
            <div
              class="
                flex flex-row
                justify-between
                items-center
                px-4
                py-3
                rounded-lg
              "
            >
              <div class="flex flex-row gap-4 items-center">
                <img src="assets/icon/calendar2.svg" alt="" />
                <div class="text-lg">
                  {{date ==='' ? 'choix de votre date': (plage.date| date)+ ';'+
                  plage.plage.text }}
                </div>
              </div>
              <div>
                <img src="assets/icon/arrowDown.svg" alt="" srcset="" />
              </div>
            </div>
          </ion-card>

          <div
            class="
              py-3
              bg-primary
              text-white
              font-bold
              rounded-md
              text-center text-lg
              flex
              items-center
              justify-center
              uppercase
            "
            routerLink="../acceuil/resultat-recherche"
          >
            rechercher
          </div>
        </div>

        <div class="pt-4 space-y-4" *ngIf="segment">
          <div class="grid grid-cols-2 gap-2">
            <div
              class="rounded-lg flex flex-col"
              *ngFor="let item of type"
              (click)="openImageModal(item.prestation)"
            >
              <img
                class="rounded-lg"
                [src]="'assets/' + item.prestation[0].url"
                alt=""
                srcset=""
              />
              <div class="w-full flex justify-center text-center text-gray-500">
                {{item.title || item.prestation[0].title|titlecase}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="bg-white mb-10 space-y-10">
      <div class="flex justify-end">
        <ion-button fill="clear" class="">
          <img src="assets/icon/Bell.svg" alt="" />
        </ion-button>
      </div>
      <div class="flex flex-col items-center space-y-10">
        <div class="">
          <img src="assets/icon/bigoodee.svg" alt="" class="" />
        </div>
        <div class="text-2xl font-bold">Bonjour Louise,</div>
      </div>
    </div>
    <div class="bg-primary px-2 py-3">
      <div class="text-center text-2xl text-white py-2">
        Decouvrez et reservez la coiffeuse qui vous correspond !
      </div>
      <div class="bg-white px-2 py-4 rounded-md space-y-5">
        <div class="gap-4 grid grid-cols-2">
          <div
            class="flex justify-center rounded-md py-2"
            [ngClass]="btn ? 'bg-primary-op':'bg-primary'"
            (click)="part1=true; part2=false; btn=true"
          >
            <button class="text-white">Je reserve ma coiffeuse</button>
          </div>
          <div
            class="flex justify-center rounded-md py-2"
            [ngClass]="btn ? 'bg-primary':'bg-primary-op'"
            (click)="part2=true; part1=false; btn=false"
          >
            <button class="text-white">Je découvre les coiffures</button>
          </div>
        </div>
        <div class="" *ngIf="part1">
          <form action="">
            <div class="form-field">
              <label [ngClass]="focused ? 'label-focused' : ''"
                >choix de la ville</label
              >
              <input
                type="text"
                (focus)="focused = true"
                (blur)="onBlur($event)"
              />
              <div class="absolute top-5 right-3">
                <img src="assets/icon/arrow_empty.svg" alt="" class="w-4" />
              </div>
              <div class="absolute top-3 left-3">
                <img src="assets/icon/localisation.svg" alt="" class="w-6" />
              </div>
            </div>
            <div class="form-field">
              <label [ngClass]="focused ? 'label-focused' : ''"
                >type de prestation</label
              >
              <input
                type="text"
                (focus)="focused = true"
                (blur)="onBlur($event)"
              />
              <div class="absolute top-5 right-3">
                <img src="assets/icon/arrow_empty.svg" alt="" class="w-4" />
              </div>
              <div class="absolute top-3 left-3">
                <img src="assets/icon/outil.svg" alt="" />
              </div>
            </div>
            <div class="form-field">
              <label [ngClass]="focused ? 'label-focused' : ''"
                >choix de votre date</label
              >
              <input
                type="text"
                (focus)="focused = true"
                (blur)="onBlur($event)"
              />
              <div class="absolute top-5 right-3">
                <img src="assets/icon/arrow_empty.svg" alt="" class="w-4" />
              </div>
              <div class="absolute top-2 left-3">
                <img src="assets/icon/calendar2.svg" alt="" />
              </div>
            </div>
            <div
              class="
                flex
                justify-center
                bg-primary
                rounded-md
                h-12
                cursor-pointer
              "
              routerLink="../acceuil/resultat-recherche"
            >
              <button class="uppercase text-white">rechercher</button>
            </div>
          </form>
        </div>
        <div class="bg-white px-2 py-4 rounded-md" *ngIf="part2">
          <div class="grid grid-cols-2 gap-4 place-items-center">
            <div
              class="flex flex-col items-start cursor-pointer"
              (click)="slide()"
            >
              <div class="w-32 cursor-pointer">
                <img src="assets/icon/img1.svg" alt="" class="w-full" />
              </div>
              <div class="">Tresses ( braids)</div>
            </div>
            <div class="flex flex-col items-start">
              <div class="w-32 cursor-pointer">
                <img src="assets/icon/img2.svg" alt="" class="w-full" />
              </div>
              <div class="">Vanilles ( braids)</div>
            </div>
            <div class="flex flex-col items-start">
              <div class="w-32 cursor-pointer">
                <img src="assets/icon/img3.svg" alt="" class="w-full" />
              </div>
              <div class="">Tresses ( braids)</div>
            </div>
            <div class="flex flex-col items-start">
              <div class="w-32 cursor-pointer">
                <img src="assets/icon/img4.svg" alt="" class="w-full" />
              </div>
              <div class="">Vanilles ( braids)</div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</ion-content>
