<ion-content>
  <div class="h-full">
    <div class="h-1/3 relative text-gray-500">
      <div class="flex justify-end">
        <ion-button fill="clear" class="">
          <img src="assets/icon/Bell.svg" alt="" />
        </ion-button>
      </div>
      <div
        class="
          absolute
          w-full
          flex
          justify-center
          bottom-0
          text-center text-2xl
          font-semibold
        "
      >
        <img class="w-3/6" src="assets/Logo.png" alt="" srcset="" />
      </div>
      <div
        class="
          absolute
          w-full
          flex
          justify-center
          bottom-5
          text-center text-2xl
          font-semibold
        "
      >
        Bonjour {{user === null ? 'à vous':user.prenom}}
      </div>
    </div>
    <div class="h-2/3 bg-primary rounded-t-2xl px-5 overflow-hidden">
      <div
        class="
          w-full
          flex
          justify-center
          pt-3
          text-center
          font-semibold
          text-white
        "
      >
        Decouvrez et réservez la coiffeuse qui vous correspond !
      </div>
      <div class="rounded-lg bg-white w-full h-4/5 mt-3 p-3 overflow-y-scroll">
        <div class="grid grid-cols-2 gap-4">
          <div
            class="
              py-2
              text-white
              font-semibold
              rounded-md
              text-center text-sm
              flex
              items-center
              justify-center
            "
            [ngClass]="segment? 'bg-primary': 'bg-primary-op'"
            (click)="segment = false"
          >
            Je réserve ma coiffeuse
          </div>
          <div
            class="
              py-2
              bg-primary
              text-white
              font-semibold
              rounded-md
              text-center text-sm
              flex
              items-center
              justify-center
            "
            [ngClass]="!segment? 'bg-primary': 'bg-primary-op'"
            (click)="segment = true"
          >
            Je découvre les coiffures
          </div>
        </div>
        <div class="pt-4 space-y-4" *ngIf="!segment">
          <ion-card
            button="true"
            class="rounded-lg m-0 p-0 border border-gray-300 shadow-sm"
            (click)="openVilleModal()"
          >
            <div
              class="
                flex flex-row
                justify-between
                items-center
                px-4
                py-3
                rounded-lg
              "
            >
              <div class="flex flex-row gap-4 items-center">
                <img src="assets/icon/locate.svg" alt="" />
                <div class="text-lg">
                  {{ville ===null ? 'Choix de la ville': ville.nom| titlecase}}
                </div>
              </div>
              <div>
                <img src="assets/icon/arrowDown.svg" alt="" srcset="" />
              </div>
            </div>
          </ion-card>
          <ion-card
            button="true"
            class="rounded-lg m-0 p-0 border border-gray-300 shadow-sm"
            (click)="openPrestationModal()"
          >
            <div
              class="
                flex flex-row
                justify-between
                items-center
                px-4
                py-3
                rounded-lg
              "
            >
              <div class="flex flex-row gap-4 items-center">
                <img src="assets/icon/prestations.svg" alt="" />
                <div class="text-lg">
                  {{prestation ===null ? 'Type de prestation':
                  prestation.prestation| titlecase}}
                </div>
              </div>
              <div>
                <img src="assets/icon/arrowDown.svg" alt="" srcset="" />
              </div>
            </div>
          </ion-card>
          <ion-card
            button="true"
            class="rounded-lg m-0 p-0 border border-gray-300 shadow-sm"
            (click)="openCalendarModal()"
          >
            <div
              class="
                flex flex-row
                justify-between
                items-center
                px-4
                py-3
                rounded-lg
              "
            >
              <div class="flex flex-row gap-4 items-center">
                <img src="assets/icon/calendar2.svg" alt="" />
                <div class="text-lg">
                  {{date ==='' ? 'Choix de votre date': (plage.date|
                  date|titlecase)+ '; '+plage.plage.plage}}
                </div>
              </div>
              <div>
                <img src="assets/icon/arrowDown.svg" alt="" srcset="" />
              </div>
            </div>
          </ion-card>

          <div
            class="
              py-3
              bg-primary
              text-white
              font-bold
              rounded-md
              text-center text-lg
              flex
              items-center
              justify-center
              uppercase
            "
            (click)="search()"
          >
            rechercher
          </div>
        </div>

        <div class="pt-4 space-y-4" *ngIf="segment">
          <div class="grid grid-cols-2 gap-2">
            <div
              *ngFor="let item of prestations"
              [ngClass]="item.imageURL === ''?'none':''"
            >
              <div
                *ngIf="item.imageURL !== ''"
                class="rounded-lg flex flex-col"
                (click)="openImageModal(item)"
              >
                <img
                  class="rounded-lg"
                  [src]="'https://firebasestorage.googleapis.com/v0/b/bigoodee-79097.appspot.com/o/prestations%2F'+item.imageURL+'?alt=media&token=4f39ff84-15a9-4f1d-8e9a-fcc5541147bd'"
                  alt=""
                  srcset=""
                />
                <div
                  class="w-full flex justify-center text-center text-gray-500"
                >
                  {{item.prestation}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
