<ion-content>
  <div class="flex flex-col p-5">
    <div class="my-10 flex justify-center">
      <img src="assets/icon/success.svg" alt="" class="">
    </div>
    <div class="text-center font-semibold text-xl">Demande envoyée</div>
    <div class="text-center my-5">Coiffure vanilles (twits) effet mi-longue</div>
    <ion-card class="shadow-none">
      <div class="flex flex-col space-y-1 border-2 rounded-lg p-4">
        <div class="flex flex-row justify-between">
          <div class="">paiement espèce</div>
          <div class=""></div>
        </div>
        <div class="flex flex-row justify-between">
          <div class="">net à payer</div>
          <div class="">40€</div>
        </div>
        <div class="flex flex-row justify-between">
          <div class="">date de paiement</div>
          <div class="">11/03/2020</div>
        </div>
      </div>
    </ion-card>
    <div class="space-y-5">
      <div class="">votre réservation sera validée après acceptation par la coiffeuse.</div>
      <div class="">vous recevrez une demande de confiramtion, la veille du RDV.</div>
    </div>
  </div>
</ion-content>
