
// ion-slides {
//     height: 100%;
// }

// ion-slide {
//     display: block;
// }

// ion-slide img {
//     padding: 15%;
// }

// .slider-text {
//     padding-top: 10%;
ion-slide{
    --progress-bar-background-active: #FF3E79 !important;
    --progress-bar-background:#FF3E79 !important;
    --scroll-bar-background-active: #FF3E79 !important;
    --scroll-bar-background:#FF3E79 !important;
    --bullet-bar-background-active: #FF3E79 !important;
    --bullet-bar-background:#FF3E79 !important;
}
