/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Optional CSS utils that can be commented out */
// @import "~@ionic/angular/css/padding.css";
// @import "~@ionic/angular/css/float-elements.css";
// @import "~@ionic/angular/css/text-alignment.css";
// @import "~@ionic/angular/css/text-transformation.css";
// @import "~@ionic/angular/css/flex-utils.css";

.bg-primary {
  background-color: #ff3e79 !important;
}
.bg-primary-op {
  background-color: rgba($color: #ff3e79, $alpha: 0.25) !important;
}

.bg-primary-opp {
  background-color: rgba($color: #ff3e79, $alpha: 0.1) !important;
}

.border-primary {
  border-color: #ff3e79 !important;
}

.border-secondary {
  border-color: #ffb156 !important;
}

.bg-secondary {
  background-color: #ffb156 !important;
}

.text-primary {
  color: #ff3e79 !important;
}

.text-secondary {
  color: #ffb156 !important;
}

.bg-secondary-op {
  background-color: rgba($color: #ffb156, $alpha: 0.25) !important;
}
.modal-component {
  // --height: 100%;

  --height: 325px;
  --max-height: 80vh;
  --border-radius: 10px;
  padding: 25px;
}
.prestationModal {
  --max-height: 80vh;
  --border-radius: 10px;
  padding: 15px;
}

.imageModal {
  background: transparent !important;
  --max-height: 450px;
  --border-radius: 10px;
  padding: 15px;
}
.modal-wrapper {
  background: transparent !important;
}

.invitation-css {
  --height: 200px;
  --border-radius: 10px;
  padding: 25px;
}

.bancaire-css {
  --height: 450px;
  --border-radius: 10px;
  padding: 25px;
}

.ask-css {
  --height: 200px;
  --border-radius: 10px;
  padding: 25px;
}

// .swiper-pagination-bullets {
//   bottom: -20px !important;
// }

.swiper-pagination-bullet-active {
  --background: #ff3e79;
}

// .monthview-selected[_ngcontent-qsx-c136] {
//   background-color: #ff3e79 !important;
// }

td {
  border: none !important;
  border-radius: 99999px;
}
th {
  border: none !important;
  padding-bottom: 20px !important;
}
table {
  border: none !important;
  color: #a9a9a9;
}

td.monthview-selected {
  background-color: #ff3e79 !important;
}

td.text-muted {
  visibility: hidden !important;
}

ion-list.event-detail-container {
  display: none !important;
}

.form-field {
  position: relative;
  margin-bottom: 1rem;
  height: 50px;

  label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 0.25rem;
    color: #939fab;
    font-size: 1rem;
    transition: 0.3s;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 17px;
    // font-weight: 600;
    border: 1px solid #e7ebee;
    border-radius: 10px;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
    color: #171c25;
  }
  input:focus {
    border-color: #ff3e79 !important;
    box-shadow: none !important;
    outline: none;
    outline-color: transparent;
    .label-focused {
      color: #ff3e79 !important;
    }
  }

  .label-focused {
    top: -0.4rem;
    left: 0.8rem;
    font-size: 14px;
    // font-weight: 600;
    background-color: #fff;
    // color: #ff3e79 !important;
    z-index: 10;
  }
}

input:focus {
  outline: none !important;
  outline-color: transparent !important;
  border-color: #ff3e79 !important;
  box-shadow: none !important;
  .label-focused {
    color: #ff3e79 !important;
  }
}

.form-fields {
  position: relative;
  margin-bottom: 1rem;
  height: 200px;

  label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 0.25rem;
    color: #939fab;
    font-size: 1rem;
    transition: 0.3s;
  }

  textarea {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 17px;
    // font-weight: 600;
    border: 1px solid #e7ebee;
    border-radius: 10px;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
    color: #171c25;
  }

  textarea:focus {
    border-color: #ff3e79 !important;
    box-shadow: none !important;

    outline: none;
    outline-color: transparent;
    .label-focused {
      color: #ff3e79 !important;
    }
  }

  .label-focused {
    top: -0.4rem;
    left: 0.8rem;
    font-size: 14px;
    // font-weight: 600;
    background-color: #fff;
    // color: #ff3e79 !important;
    z-index: 10;
  }
}
