<ion-content>
    <div
      class="flex flex-row items-center mb-10 text-gray-600"
    >
      <ion-button (click)="myBackButton()" fill="clear">
        <img src="assets/icon/back.svg" alt="" srcset="" />
      </ion-button>
      <h1 class="text-2xl font-bold flex text-center">Mon Historique</h1>
    </div>
    <div class="">
        <ion-card class="shadow-none border-2 rounded-md">
            <ion-card-content class="flex items-center justify-between">
                <div class="flex flex-row space-x-5">
                    <div class="w-10 h-10">
                        <img src="assets/icon/tof.svg" alt="" class="rounded-full w-full h-full">
                    </div>
                    <div class="flex flex-row items-start">
                        <div class="flex flex-col">
                            <div class="">Ladouce</div>
                            <div class="">vanilles (twists) effet</div>
                        </div>
                        <div class="text-secondary">40€</div>
                    </div>
                </div>
                <ion-button slot="end" fill="clear" class="bg-primary-op rounded-md">
                    <img src="assets/icon/sms_pink.svg" alt="">
                </ion-button>
            </ion-card-content>
        </ion-card>
        <ion-card class="shadow-none border-2 rounded-md">
            <ion-card-content class="flex items-center justify-between">
                <div class="flex flex-row space-x-5">
                    <div class="w-10 h-10">
                        <img src="assets/icon/tof.svg" alt="" class="rounded-full w-full h-full">
                    </div>
                    <div class="flex flex-row items-start">
                        <div class="flex flex-col">
                            <div class="">Madeleine</div>
                            <div class="">nattes collées</div>
                        </div>
                        <div class="text-secondary">75€</div>
                    </div>
                </div>
                <ion-button slot="end" fill="clear" class="bg-primary-op rounded-md">
                    <img src="assets/icon/sms_pink.svg" alt="">
                </ion-button>
            </ion-card-content>
        </ion-card>
        <ion-card class="shadow-none border-2 rounded-md">
            <ion-card-content class="flex items-center justify-between">
                <div class="flex flex-row space-x-5">
                    <div class="w-10 h-10">
                        <img src="assets/icon/tof.svg" alt="" class="rounded-full w-full h-full">
                    </div>
                    <div class="flex flex-row items-start">
                        <div class="flex flex-col">
                            <div class="">Clarisse</div>
                            <div class="">fulani locks</div>
                        </div>
                        <div class="text-secondary">95€</div>
                    </div>
                </div>
                <ion-button slot="end" fill="clear" class="bg-primary-op rounded-md">
                    <img src="assets/icon/sms_pink.svg" alt="">
                </ion-button>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>