<ion-header class="ion-no-border">
  <div
    class="flex flex-row justify-between items-center px- py-5 text-gray-600"
  >
    <ion-button (click)="myBackButton()" fill="clear">
      <img src="assets/icon/back.svg" alt="" srcset="" />
    </ion-button>
    <h1 class="text-2xl font-bold whitespace-nowrap">Historique</h1>
    <ion-button fill="clear">
      <img src="assets/icon/Bell.svg" alt="" srcset="" />
    </ion-button>
    <!-- <ion-button color="primary">Primary</ion-button> -->
  </div>
</ion-header>
<ion-content class="">
  <!-- <ion-datetime
    displayFormat="DDDD MMMM, YYYY"
    [value]="value"
    display-timezone="utc"
  ></ion-datetime> -->
  <div class="flex flex-col gap-4 px-3 pt-5 pb-10">
    <ion-card
      *ngFor="let item of items"
      class="shadow-none border-2 rounded-md"
      button="true"
    >
      <ion-card-content class="flex items-center justify-between">
        <div class="flex flex-row space-x-5">
          <div class="w-10 h-10">
            <img
              [src]="item.cliente.imageURL === 'default.png'? 'assets/default.png': 'https://firebasestorage.googleapis.com/v0/b/bigoodee-79097.appspot.com/o/profile%2F'+item.cliente.imageURL.split('/')[1]+'?alt=media&token=4f39ff84-15a9-4f1d-8e9a-fcc5541147bd'"
              alt=""
              class="rounded-full w-full h-full"
            />
          </div>
          <div class="flex flex-row items-start">
            <div class="flex flex-col">
              <div class="">{{item.cliente.prenom}}</div>
              <div class="">{{item.prestation.prestation.prestation}}</div>
            </div>
            <div class="text-secondary">
              <span>{{item.prestation.tarif| currency:'EUR'}}</span>
            </div>
          </div>
        </div>
        <!-- <ion-button
          slot="end"
          fill="clear"
          class="bg-primary-op rounded-md"
          [routerLink]="'/cliente/message/'+item.cliente._id"
        >
          <img src="assets/icon/sms_pink.svg" alt="" />
        </ion-button> -->
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
