<ion-content>
  <div class="p-5">
    <div class="text-primary text-center font-bold my-14 text-xl">
      Conditions générales d’utilisation des services de Bigoodee 
    </div>
    <h1 class="text-primary text-lg font-bold">1.Objet</h1>
    <div>
      La BIGOODEE exploite sous la marque « Bigoodee » une plateforme accessible
      depuis le site internet www.app.bigoodee.fr et/ou, à la libre convenance de Bigoodee, depuis l’application mobile « Bigoodee » téléchargeable sur IOS ou Androïd (ci-après ensemble la « Plateforme »).
      La Plateforme permet la mise en relation de coiffeuses à domicile , référencés sur la Plateforme (ci- après : les « Coiffeuses») et de consommateurs souhaitant bénéficier de prestations de coiffures (ci- après : le ou les « Client(s) » ou le ou les « Utilisateur(s) »).
      Les coiffeuses proposent tout type de prestations de coiffure, à
      leur libre convenance (ci-après : le ou les « Prestation(s) »).
      La réservation de Prestations via la Plateforme permet de réserver un créneau horaire (ci-après : le ou les « Créneau(x) ») pour une Prestation au prix habituellement pratiqué par la coiffeuse
      ou à un prix promotionnel bénéficiant d’une réduction par rapport au prix normalement pratiqué par les coiffeuses sur les Prestations (ci-après les « Réductions »).
      Le Client ne peut bénéficier des Réductions proposées par les coiffeuses que s’il réserve via
      la Plateforme. Les coiffeuses sont libres de proposer ou non une Réduction. En cas de
      Réduction proposée, eles déterminent librement le pourcentage accordé ainsi que les Prestations et/ou les Créneaux concernés.
      Bigoodee et l’Utilisateur sont ci-après désignés ensemble ou individuellement une « Partie ».
      Les présentes conditions générales (ci-après les « Conditions Générales ») ont pour objet de
      fixer les modalités et conditions de fourniture aux Utilisateurs des services de mise en relation via la Plateforme (ci-après les « Services »), ainsi que de définir les droits et obligations des Parties dans ce cadre.
    </div>
    <h1 class="text-primary text-lg font-bold mt-5">2. Exploitant de la Plateforme et des Services</h1>
    <div class="">
      La Plateforme et les Services sont exploités par la société Bigoodee SAS, Société par Actions Simplifiée
      au Registre du commerce et des sociétés sous le numéro , dont le siège
      social est situé , Cette société exploite la marque
      Bigoodee.
      Téléphone : [XXXX]
      Adresse électronique : hello@bigoodee.com
    </div>
    <h1 class="text-primary text-lg font-bold mt-5">3. Acceptation des Conditions Générales</h1>
    <div class="">
      Les Utilisateurs déclarent, en s’inscrivant sur la Plateforme, avoir pris connaissance des Conditions Générales et les accepter expressément. Cette acceptation qui est matérialisée par le clic sur le bouton « s’inscrire » ne peut être que pleine et entière. Toute adhésion sous réserve est considérée comme nulle et non avenue. L’Utilisateur qui n’accepte pas d’être lié par les Conditions Générales ne doit pas accéder au Site, ni utiliser les Services.
    </div>
    <h1 class="text-primary text-lg font-bold mt-5">4. Accès au Site et aux Services</h1>
    <div class="">
      La Plateforme et les Services sont accessibles à toute personne physique, disposant de la pleine capacité juridique pour s’engager au titre des présentes Conditions Générales et âgée d’au moins
    </div>
    <div class="mt-5">
      dix-huit (18) ans. L’Utilisateur qui ne dispose pas de la pleine capacité juridique doit obtenir l’accord de son représentant légal avant d’accéder à la Plateforme et aux Services, ce qu’il reconnaît et accepte. Les Services s’adressent à des Clients consommateurs, souhaitant satisfaire leurs besoins propres et qui agissent à des fins qui n'entrent pas dans le cadre de leur activité commerciale, industrielle, artisanale, libérale ou agricole. L’accès à la Plateforme est gratuit pour les Clients. Cependant, les frais de connexion internet, indispensables pour accéder à la Plateforme et aux Services demeurent à sa charge. Toute coiffeuses souhaitant être référencé sur la Plateforme et accéder aux Services doit se rendre sur le site: <span class="text-primary">https://app.bigoodee.com/fr/ ou sur notre application mobile Bigoodee</span>
    </div>
    <h1 class="text-primary text-lg font-bold mt-5">5. Inscription sur la Plateforme</h1>
  </div>
</ion-content>
