<ion-header class="ion-no-border">
  <div
    class="
      bg-primary-op
      py-4
      px-3
      flex flex-row
      justify-between
      items-center
      text-gray-600
    "
  >
    <div class="flex flex-row">
      <img
        [src]="user?.photoURL === null ? 'assets/default.jpeg':'https://firebasestorage.googleapis.com/v0/b/bigoodee-79097.appspot.com/o/profile%2F'+user.photoURL.split('/')[1]+'?alt=media&token=4f39ff84-15a9-4f1d-8e9a-fcc5541147bd'"
        class="w-16 h-16 rounded-lg border-2 border-white"
        alt=""
        srcset=""
      />
      <div class="flex flex-col justify-between py-1 pl-3">
        <div class="font-semibold text-lg">{{user.prenom}}</div>
        <div>{{user.email}}</div>
      </div>
    </div>
    <div class="bg-primary rounded-full py-2 px-3">
      <img src="assets/icon/arrow_r.svg" alt="" srcset="" />
    </div>
  </div>
</ion-header>
<ion-content class="">
  <div class="flex flex-col gap-4 px-3 text-gray-600 pt-10 pb-5">
    <ion-card
      class="p-0 m-0 rounded-lg shadow-sm"
      button="true"
      *ngFor="let item of items"
      [routerLink]="item.to"
    >
      <div
        class="
          border border-gray-400
          rounded-lg
          flex flex-row
          justify-between
          px-5
          py-3
        "
      >
        <div class="flex flex-row items-center">
          <img [src]="'assets/icon/' + item.icon" alt="" srcset="" />
          <div class="text-lg pl-2 whitespace-nowrap">{{item.title}}</div>
        </div>
        <div class="py-2 px-3 rounded-full bg-primary">
          <img src="assets/icon/right.svg" alt="" srcset="" />
        </div>
      </div>
    </ion-card>

    <div
      class="
        border border-primary
        rounded-lg
        flex flex-row
        justify-between
        px-5
        py-3
      "
      (click)="signout()"
    >
      <div class="flex flex-row items-center">
        <img src="assets/icon/logout.svg" alt="" srcset="" />
        <div class="text-md pl-2 whitespace-nowrap text-primary font-medium">
          {{"se deconnecter"|uppercase}}
        </div>
      </div>
      <!-- <div class="py-2 px-3 rounded-full bg-primary">
        <img src="assets/icon/right.svg" alt="" srcset="" />
      </div> -->
    </div>
  </div>
</ion-content>
